* {
  color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  border: 0;
  background-color: var(---color-seconadary);
}
.style {
  list-style: none;
}
.decoration {
  text-decoration: none;
}
:root {
  --brand-color: #2196f3;
  --color-secondary: #060404;
  --color-third: #757575;
  --line: #ececec;
}
a:hover {
  color: var(--brand-color);
}

.container {
  width: 1600px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.header .container {
  display: flex;
  width: 1600px;
  height: 80px;
}
.nav-button {
  display: flex;
}
.nav-button a {
  text-decoration: none;
}

button:hover {
  background-color: var(--brand-color);
  color: var(--color-secondary);
}
.first-link {
  font-weight: 500px;
  font-size: 14px;
  line-height: 1, 142em;
  letter-spacing: 0, 02em;
}
.second-link {
  color: #757575;
  font-weight: 500px;
  margin-left: 50px;
  text-decoration: none;
}
.link {
  text-decoration: none;
  width: 58px;
  height: 16px;
  top: 32px;
  left: 55px;
}
.menu {
  list-style-type: none;
  display: flex;
  width: 254px;
  height: 16px;
  margin-top: 32px;
  margin-left: 453px;
}
.menu-list {
  padding-left: 46px;
}

.contact {
  list-style-type: none;
  display: flex;
  padding-top: 32px;
  margin-left: 227px;
}

.logo {
  padding-top: 24px;
  padding-left: 215px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  line-height: 1, 192em;
  text-decoration: none;
}

.blue-text {
  color: var(--brand-color);
}
.contact {
  margin-left: auto;
}

.main-section .container {
  width: 1600px;
  height: 600;
  background-color: #2f303a;
}

.main-descripton {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.363em;
  text-align: center;
  letter-spacing: 0, 06em;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 45px;
  text-transform: uppercase;
}

.button-first {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-top: 30px;
  margin-left: 700px;
  margin-bottom: 200px;
  background-color: var(--brand-color);
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.15);
}

.list-lorem {
  width: 1600px;
  height: 769px;
  background-color: #fff;
}
.first-lorem {
  width: 1170px;
  height: 101px;
  padding-top: 94px;
  margin-left: 215px;
  display: flex;
  align-content: space-around;
  gap: 30px;
}
.first-lorem-list {
  width: 270px;
  height: 133px;
}

.title-lorem {
  font-size: 14px;
  line-height: 1.142em;
  font-weight: 700;
  letter-spacing: 0, 03em;
  margin-bottom: 10px;
}
.text {
  font-size: 14px;
  line-height: 1.714em;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-job .container {
  width: 1170px;
  height: 386px;
  margin-top: 94px;
}

.img-size {
  width: 370px;
  height: 294px;
}
.works {
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin-left: 215px;
  justify-content: space-around;
}
.title-works {
  font-size: 36px;
  line-height: 1.666em;
  font-weight: 700;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin-left: 624px;
  margin-bottom: 50px;
}

.our-team .container {
  width: 1600px;
  height: 648px;
  background-color: #f5f4fa;
}
.title-team {
  font-size: 36px;
  line-height: 1.666em;
  font-weight: 700;
  padding-top: 94px;
  padding-left: 695px;
  letter-spacing: 0.03em;
}

.person {
  display: flex;
  padding-left: 185px;
  margin-top: 50px;
}
.person-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142em;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  padding-top: 30px;
}
.person-list {
  list-style-type: none;
  width: 270px;
  height: 368px;
  margin-left: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
.job {
  letter-spacing: 0.03em;
  line-height: 1.187em;
  color: var(--color-third);
}

.footer {
  background-color: #2f303a;
  color: var(--color-secondary);
  width: 1600px;
  height: 252px;
}
.logo-footer {
  padding-top: 60px;
  padding-left: 215px;
  padding-bottom: 0;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  line-height: 1, 192em;
}
.address {
  font-style: normal;
  padding-top: 111px;
  padding-left: 215px;
}
.address-link {
  color: #ffffff;
}
.footer-list-item style {
  margin-top: 9px;
}

.footer-contact {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 24px;
}

.portfolio {
  width: 1600px;
  height: 1880px;
}
.page-second {
  width: 1170px;
  height: 1360px;
  padding-top: 94px;
  padding-left: 215px;
}
.portfolio-list {
  margin-left: 327px;
}
button:hover {
  background-color: var(--brand-color);
  color: #fff;
}

.button-second {
  cursor: pointer;
  text-align: center;
  font-weight: 500px;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  background-color: #f5f4fa;
  box-shadow: 0px 3px 1 px rgb(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-list {
  display: flex;
  gap: 8px;
  justify-content: space-around;
}
.page-name {
  margin: 6px 22px;
}

.example-projects {
  width: 1170px;
  height: 1288px;
  padding-bottom: 94px;
}

.example {
  font-size: 16px;
  color: var(--color-third);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  gap: 30px;
}
.projects-item {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  justify-content: space-around;
}
.example {
  line-height: 1.714em;
  letter-spacing: 0, 03em;
  color: var(--color-third);
  padding-left: 24px;
}
.project-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2em;
  letter-spacing: 0, 06em;
  padding-top: 20px;
  padding-left: 24px;
}
.view {
  display: block;
}
